<section class="user-page">
  <div class="container">
    <div class="back-btn-div">
      <i class="fa fa-4x fa-arrow-circle-left" (click)="onBackBtn()"></i>
    </div>
    <div class="user-info" *ngIf="getUserInfo(); else noUserInfo">
      <div class="user-image">
        <img src="{{getUserInfo()['avatar_url']}}" alt="Avatar not Found !">
      </div>
      <div class="user-content">
        <ul>
          <li>
            <div class="user-name">
              <a href="{{getUserInfo()['html_url']}}"><span class="user-info-bold">User Name:</span> {{getUserInfo()['name']}}</a>
            </div>
          </li>
          <li>
            <p><span class="user-info-bold">Type:</span> {{getUserInfo()['type']}} </p>
          </li>
          <li>
            <p><span class="user-info-bold">Followers: </span> {{getUserInfo()['followers']}}</p>
          </li>
          <li>
            <p><span class="user-info-bold">Following: </span> {{getUserInfo()['following']}}</p>
          </li>
          <li>
            <p><span class="user-info-bold">Public Gists: </span> {{getUserInfo()['public_gists']}}</p>
          </li>
          <li>
            <p><span class="user-info-bold">Public Repositories: </span> {{getUserInfo()['public_repos']}}</p>
          </li>
          <li>
            <div class="user-repos">
              <p><span class="user-info-bold">User Repositories:</span></p>
              <ul *ngIf=" getUserRepos() && getUserRepos().length > 0 ; else noUserRepos">
                <li *ngFor="let repo of [0, 1, 2]; let i = index">
                  <p class="user-repo-name">{{getUserRepos()[i]['name']}}</p>
                </li>
              </ul>
              <ng-template #noUserRepos>
                <ul>
                  <li>
                    <p class="user-repo-name">User has no Repositories !</p>
                  </li>
                </ul>
              </ng-template>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ng-template #noUserInfo class="no-user-info">
      <h3 class="no-user-info-txt">User info was not Found!</h3>
    </ng-template>
    <hr>
    <div class="user-organization">
      <div class="user-organization-title">
        <p class="user-organization-title-txt user-info-bold">User Organizations: </p>
      </div>
      <div class="user-organization-list">
        <ul *ngIf="getUserOrganizations() && getUserOrganizations().length > 0; else noUserOrganisations">
          <li *ngFor=" let organization of getUserOrganizations()">
            <div class="organization-logo">
              <img src="{{organization['avatar_url']}}" alt="Logo not found !">
            </div>
          </li>
        </ul>
        <ng-template #noUserOrganisations class="no-user-organization">
          <p class="no-user-organization-txt">User has no Organization !</p>
        </ng-template>
      </div>
    </div>
  </div>
</section>
