<section class="landing-page">
  <div class="container">
    <form class="search" #form='ngForm' (ngSubmit)="onSubmit(form)">
      <fieldset>
        <legend>Search Git User</legend>
        <div class="input-user-div">
          <label for="gitUserName">User Name: </label>
          <input
            type="text"
            id="gitUserName"
            name="gitUserName"
            placeholder="e.g.  defunkt "
            ngModel
            required
          >
          <button type="submit" [disabled]="form.invalid" id="submit">Search</button>
        </div>
      </fieldset>
    </form>
    <div class="divide-content">
      <hr>
    </div>
    <div class="popular-git-users">
      <div class="popular-git-users-view-btns">
        <p class="popular-git-users-view-txt">View</p>
        <ul>
          <li><i class="fa fa-2x fa-list" aria-hidden="true" (click)="onListView()"></i></li>
          <li><i class="fa fa-2x fa-th-large" aria-hidden="true" (click)="onGridView()"></i></li>
        </ul>
      </div>
      <div *ngIf="getListView()" class="popular-git-users-list-view">
        <ul>
          <li *ngFor="let user of getUsersInfo(); let i = index">
            <div class="user-image">
              <img src="{{user['avatar_url']}}" alt="Avatar not Found !" (click)="onClick(i)">
            </div>
            <div class="user-content">
              <ul>
                <li>
                  <div class="user-name">
                    <p><span class="user-info-bold">User Name:</span>
                      <span class="user-name-txt" (click)="onClick(i)">{{user['name']}}</span></p>
                  </div>
                </li>
                <li>
                  <p><span class="user-info-bold">Type:</span> {{user['type']}} </p>
                </li>
                <li>
                  <div class="user-repos">
                    <p><span class="user-info-bold">Repos:</span> <a href="{{user['followers_url']}}"> Navigate to Repositories</a> </p>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="getGridView()" class="popular-git-users-grid-view">
        <ul>
          <li *ngFor="let user of getUsersInfo(); let i = index">
            <div class="user-image">
              <img src="{{user['avatar_url']}}" alt="Avatar not Found !" (click)="onClick(i)">
            </div>
            <div class="user-content">
              <ul>
                <li>
                  <div class="user-name">
                    <p><span class="user-info-bold">User Name:</span><span class="user-name-txt" (click)="onClick(i)">{{user['name']}}</span></p>
                    <a href="{{user['html_url']}}"></a>
                  </div>
                </li>
                <li>
                  <p><span class="user-info-bold">Type:</span> {{user['type']}} </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

