/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  color: #1a1d1f;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
  color: #24292e;
}
a:visited {
  color: #3a3c47;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
i {
  cursor: pointer;
}
.user-info-bold {
  font-weight: bold;
}
.no-user-organization-txt {
  color: darkred;

  font-weight: bolder;
  font-size: x-large;
}
.user-name-txt {
  cursor: pointer;
  margin-left: 3px;
}
